<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="SensioFrameworkExtraBundle">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_CLASS" value="Tests\Fixtures\TestKernel" />
        <server name="KERNEL_DIR" value="tests/Fixtures/" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="/disabled/" />
    </php>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./src/Resources</directory>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
